.App {
  text-align: center;
  background-color: black;
  color: white;
  margin: 20px;
}

.spotitalk--song-search-container {
  position: relative;
  text-align: center;
  color: white;
}

.spotitalk--song-search-text {
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 2px solid #73AD21;
  border-color: white;
}

.spotitalk--song-search-text * {
  padding: 5px;
  margin-bottom: 0px;
}
